.loader {
  position: relative;
  width: 85px;
  height: 50px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000000 50px, transparent 0),
      linear-gradient(#000000 50px, transparent 0),
      linear-gradient(#000000 50px, transparent 0),
      linear-gradient(#000000 50px, transparent 0),
      linear-gradient(#000000 50px, transparent 0),
      linear-gradient(#000000 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% {
      background-size: 10px 3px;
  }

  16% {
      background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  33% {
      background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  50% {
      background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px
  }

  66% {
      background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px
  }

  83% {
      background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px
  }

  100% {
      background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px
  }
}

.input-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 36px;
}

button {
  cursor: pointer;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

#search-image {
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding-left: 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #fff;
}

#search-image:hover {
  border: 1px solid #000;
  border-radius: 4px;
}

#search-image:focus {
  outline-style: none;
  box-shadow: none;
  border: 1px solid #4E75FF;
  border-radius: 4px;
}

.load-title {
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.images {
  max-width: 1134px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 32px;
}

.image {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border: 1px solid #808080;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 152px;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 0;

  height: 48px;
}

.info .info-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info .info-block p3{
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info .info-block span{
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#loader_place {
  display: flex;
  justify-content: center;
  align-items: center;
}

#load_more_form {
  display: flex;
  justify-content: center;
}

#load_more_button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
}

#no_more_for_load {
  font-family: "Montserrat", sans-serif;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}